# Prerequisites
*.d
*.DS_Store
.DS_Store


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.cache
*.dbcache

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#problematic folders 
nVideo/bin
nVideo/obj
*nVideo/bin
*nVideo/obj
/.vs
/.idea
*.vs
*.idea
.vs
.idea
*/.vs
*/.idea

