@model ShopCartView

<div class="span9">
  <div class="well well-small">
    <h1>Checkout </h1>
    <hr class="soften" />
    <div class="goods-wrap">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Count </th>
            <th>Items</th>
          </tr>
        </thead>
        <tbody>
          @{
            if (Model.ShopCartItems != null)
            {
              foreach (var shopCartItem in Model.ShopCartItems)
              {
                <tr>
                  @Html.Partial("ListShopCartPartial", shopCartItem.Entity)
                  <td>
                    <h3><small> @shopCartItem.Quanity </small></h3>
                  </td>
                </tr>
              }
            }
            else
            {
              @: Cart is empty
            }
          }
        </tbody>
      </table>
      <hr class="soften" />
      <h3>Total products:$ @(Model.TotalValue / 74)</h3>
      @{
        if (Model.ShopCartItems != null)
        {
          <a asp-action="Checkout" class="shopBtn btn-large pull-right">Next <span class="icon-arrow-right"></span></a>
        }
      }
    </div>
  </div>
</div>