@model CatalogViewModel


<div class="span9">
    <div class="well well-small">

        @{
            foreach (Catalog_Entity e in Model.Entities)
            {
                @await Html.PartialAsync("ListCatalogPartial", e)
            }
        }

    </div>
</div>