@model CatalogViewModel


<div class="span9">
    <div class="well well-small">

        <h5>Filters</h5>
        <hr class="soften">

       @if (!string.IsNullOrEmpty(Context.Request.Cookies["category"]))
        {
           @if (Model.Entities.Count() != 0)
            {
               @if (Model.Entities.First().Category != null)
                {
                    @await Component.InvokeAsync("Attribute", Model)
                }
            }
            else
            {

                <h5>
                    No products were found for these parameters.
                    <a asp-controller="Catalog" asp-action="CategoryFilter" asp-route-category="@Context.Request.Cookies["category"]">
                        reset filters
                    </a>
                </h5>

            }
        }

        <button id="sort-asc" class="btn">Price by asceding</button>
        <button id="sort-desc" class="btn">Price by desceding</button>
        <button id="sort-raiting" class="btn">by rating</button>

    </div>

  <div class="well well-small">
    <div class="goods-wrap"> 

      @{

        foreach (Catalog_Entity e in Model.Entities)
        {
            @await Html.PartialAsync("ListCatalogPartial", e)
        }

      }

    </div>
  </div>

</div>

<script src="~/JS/sortList.js"></script>
