<div class="span9">
    <div class="hero-unit">
        <h1>Thank you!</h1>
        <p>You can look to state of your order in your personal cabinet!</p>
        <p>
            <a class="btn btn-primary btn-large" asp-controller="Office" asp-action="Profile">
                Return to personal cabinet
            </a>
        </p>
    </div>
</div>