@{
  Layout = "AdminPanelLayout";
}
@model AdminPanelModel;


<section class="charts mt-4">
  <div class="chart-container p-3">
    <h3 class="fs-6 mb-3">Add</h3>
    @using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results"}))
    <div style="height: 300px">
    </div>
  </div>
</section>   
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js") 