@{
  Layout = "AdminPanelLayout";
}
<div class="p-4">
  <div class="welcome">
    <div class="content rounded-3 p-3">
      <h1 class="fs-3">Welcome to Dashboard</h1>
      <p class="mb-0">Hello Admin! 
        Remember, with great power comes great responsibility.</p>
    </div>
  </div>
</div>

<section class="charts mt-4">
  <div class="chart-container p-3">
    <h3 class="fs-6 mb-3">Add</h3>
    @{
      AdminPanelModel adminPanel = new AdminPanelModel();
    }
    <form method="post" asp-action="AddEntity">
          <input type="text" maxlength="50" placeholder="Name"></input>
          <input type="text" maxlength="50" placeholder="Articul"></input>
          <input type="text" maxlength="50" placeholder="Price"></input>
          <input type="text" maxlength="50" placeholder="Short Descr"></input>
          <input type="text" maxlength="200" placeholder="Long Descr"></input>
          <input type="text" maxlength="50" placeholder="InStock"></input>
          <input type="text" maxlength="50" placeholder="Attribute;Value"></input>
          <input type="submit"></input>
        </form>
    <div style="height: 300px">
    </div>
  </div>
</section>