@{
  Layout = "AdminPanelLayout";
}
<div class="p-4">
  <div class="welcome">
    <div class="content rounded-3 p-3">
      <h1 class="fs-3">Are u shure about delete this?</h1>
      <br/>
      <h3 class="fs-6 mb-3">@ViewBag.Ent.Name</h3>
      <h3 class="fs-6 mb-3">@ViewBag.Ent.Short_Desc</h3>
      <br/>
      <form method="post" asp-action="DeleteById" >
        <input type="hidden" name="eid" value="@ViewBag.Ent.Id"/>
        <input type="submit" value="OK!"/>
        </form>
    </div>
  </div>
</div>

