# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.nVideo.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\nVideo\nVideo\.idea\.idea.nVideo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
