<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - nVideo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">nVideo</a>
            <div id="top">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <div class="btn-group">
                                <a class="btn" asp-controller="" asp-action="" id="wishlist-total">Закладки</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="btn" asp-controller="" asp-action="" id="wishlist-total">Избранное </a>
                            </div>
                        </li>
                        <!--Dropdown wich registration-->
                        <li class="nav-item">
                            <div class="btn-group">
                                <div class="dropdown open">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Личный кабинет
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Register" asp-route-category="Шлемы">Регистрация</a>
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Auth" asp-route-category="Нагрудники">Войти</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <hr>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - nVideo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
