<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - nVideo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/JS/jquery3-2-1-full.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">nVideo</a>
            <div id="top">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <div class="btn-group">
                                <a class="btn" asp-controller="" asp-action="" id="wishlist-total">Закладки</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="btn" asp-controller="" asp-action="" id="wishlist-total">Избранное </a>
                            </div>
                        </li>
                        <!--Dropdown wich registration-->
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Личный кабинет
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Регистрация</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Auth">Войти</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <hr>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - nVideo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
