@using System.Globalization
@model Comment

<div class="panel">
    <div class="panel-body">

        <div class="media-block">
            <a class="media-left" href="#"><img class="img-circle img-sm" alt="User Profile" src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>
            <div class="media-body">
                
                <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">@Model.User.Email</a>
                    <p class="text-muted text-sm"> @DateTime.Now.ToString(CultureInfo.InstalledUICulture)</p>
                    <div class="btn-toolbar"> 
                        <div class="btn-group">
                            @{
                                for (int i = 0; i < Model.Raiting; i++)
                                {
                                    <button class="btn" disabled="disabled"><span class="icon-star"></span></button>
                                }
                            }
                        </div>
                    </div>

                    <p>@Model.Content </p>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>