@model Catalog_Entity

    <div class="item">
        <img style="width:100%" src="@Model.Images.First().Patch" alt="sexy image">
        <div class="carousel-caption">
            <h4>@Model.Name</h4>
            <p><span>@Model.Short_Desc</span></p>
        </div>
    </div>