<div class="jumbotron">
    <h1 class="display-4">O-oops, occured error ...</h1>
    <h2> @ViewBag.Message</h2>

    <hr class="my-4">
    <p>Вы можете - </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную</a>
    </p>
</div>
