
<div class="jumbotron">
    <h1 class="display-4">Почти готово...</h1>
    <h2> @ViewBag.Message</h2>
    <hr class="my-4">
    <p>Вы можете - </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Вернуться на главную</a>
    </p>
</div>